@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Roboto', sans-serif;
  transition: background 0.3s, color 0.3s;
  overflow: hidden; /* 🚫 enlève la scrollbar */
  height: 100vh;
  width: 100vw;
}

/* Cacher scrollbar sur certains navigateurs */
::-webkit-scrollbar {
  display: none;
}
* {
  -ms-overflow-style: none; /* IE/Edge */
  scrollbar-width: none; /* Firefox */
}

/* Effet de dégradé animé */
@keyframes gradient-move {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.bg-animated {
  background: linear-gradient(270deg, #ff6a00, #ee0979, #007cf0);
  background-size: 600% 600%;
  animation: gradient-move 20s ease infinite;
}
