@import "tailwindcss";

:root {
    --background: #0c0c0c;
}

navbar {
    --foreground: transparent;
    color: black;
  }

.main-div-color {
  overflow-y: auto; /* scroll vertical possible */
  -ms-overflow-style: none; /* IE et Edge */
  scrollbar-width: none; /* Firefox */
}

.main-div-color::-webkit-scrollbar {
  display: none; /* Chrome, Safari et Opera */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Roboto', sans-serif;
  transition: background 0.3s, color 0.3s;

}

/* Cacher scrollbar sur certains navigateurs
::-webkit-scrollbar {
  display: none;
}
* {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
} 
*/
/* Effet de dégradé animé */
@keyframes gradient-move {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.bg-animated {
  background: linear-gradient(270deg, #ff6a00, #ee0979, #007cf0);
  background-size: 600% 600%;
  animation: gradient-move 20s ease infinite;
}
